@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: top;
	text-decoration: none;
	color: #222;
	font-size: 14px;
}

.wrap {
	width: 1000px;
	margin: 0 auto;
}
.header {
	height: 100px;
	padding-top: 30px;
}
.mainslide {
	position: relative;
	overflow: hidden;
	height: 373px;
	z-index: 100;
}
.contents	{
	height: 500px;
	padding-top: 30px;
}
.footer {
	padding: 20px 0;
	height: 150px;
	background: #eee;
	text-align: center;
}
.header h1 {
	float: left;
}
.menu_depth1 {
	float: right;
	padding-top: 30px;
}
.menu_depth1>li {
	float: left;
	position: relative;
}
.menu_depth1 a {
	display: block;
	width: 150px;
	font-weight: bold;
	text-align: center;
}
.menu_depth2 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 20px;
	background: rgba(255,255,255,.5);
	z-index: 200;
}
.mainslide ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 3000px;
}
.mainslide li {
	float: left;
}
.col1 {
	float: left;
	width: 460px;
	margin-right: 20px;
}
.col2 {
	float: left;
	width: 500px;
}
.col2 img {
	margin-left: 10px;
}
.col3 {
	float: left;
}
.contents	h2{
	margin-bottom: 20px;
	font-size: 20px;
	border-bottom: 2px solid #333;
	padding-bottom: 10px;
}
.col1 li {
	margin-bottom: 10px;
}
.col1 a {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	width: 300px;
}
.col1 span {
	float: right;
	margin-bottom: 10px;
	text-align: center;
}
.col2 a {
	display: block;
	margin-bottom: 20px;
	text-align: center;
}
.col2 li {
	display: block;
	width: 125px;
	float: left;
	text-align: center;
	padding-top: 50px;
}
.col2 img {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	
}
.col3  {
	position: relative;
}
.col3 a{
	display: block;
	width: 1000px;
	height: 150px;
	background: url(../imgs/banner_fixed.jpg)center center fixed;
	background-size: cover;
}
.col3 strong {
	position: absolute;
	top: 110px;
	left: 400px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	border: 2px solid;
	padding: 10px 25px;
}
.foot_menu {
	margin: 20px ;
}
.footer address {
	font-style: normal;
}

#modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	text-align: center;
	padding-top: 100px;
}
#modal button {
	padding: 6px 12px;
	border: none;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
}
#modal.on{
	display: block;
}






































































































